body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 10px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 8px;
  color: white;
  font-size: 24px;
  transform: translate(-50%, -50%);
  left: 46%;
  top: 50%;
  transform: rotate(calc(var(--i) * 30deg)) translate(120px) rotate(calc(var(--i) * -30deg));
}

.hand {
  position: absolute;
  background: white;
  transform-origin: bottom center;
  bottom: 50%;
  left: 50%;
}

.hour-hand {
  width: 6px;
  height: 60px;
  background: aliceblue;
  border-radius: 6px;
}

.minute-hand {
  width: 4px;
  height: 80px;
  background: rgb(6, 239, 76);
  border-radius: 4px;
}

.second-hand {
  width: 2px;
  height: 90px;
  background: rgb(232, 75, 75);
  border-radius: 2px;
}
